body {
  font-family: "Kiwi Maru", serif;
  color: #1b2021;
}

h1 {
  font-size: 72px;
  font-weight: 400;
  line-height: 28px;
  padding: 15px 0;
}

ul {
  margin: 0;
  padding: 5px;
}

li {
  display: block;
  font-size: 14px;
  font-weight: 900;
  line-height: 15px;
}

.weather-forecast {
  margin-top: 40px;
}

.weather-forecast h3 {
  font-size: 14px;
  text-align: center;
  font-weight: 900;
  line-height: 20px;
  margin-bottom: 0;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 64px;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.weather-app {
  border: 2px solid #2c061f;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  height: 800px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/006/107/original/cacto6.png?1617012529);
}
.units {
  font-size: 12px;
  position: relative;
  top: -32px;
  color: #373331;
  text-decoration: none;
}

.temperature {
  font-size: 64px;
  font-weight: 400px;
  line-height: 2;
}

.weather-icon {
  height: 64px;
  width: 64px;
}

.search-form {
  margin: 20px auto;
}

#weather-condition {
  text-transform: capitalize;
}

.weather-temperature {
  text-decoration: none;
}

.weather-temperature .active {
  color: #373331;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.fahrenheit {
  text-decoration: none;
}

.temp-min {
  border: 2px dotted #2c061f;
  border-radius: 8px;
  padding: 7px;
  margin: 7px auto;
  position: relative;
  margin-top: -37px;
  text-align: center;
}

.temp-max {
  border: 2px dotted #2c061f;
  border-radius: 8px;
  padding: 7px;
  margin: 7px auto;
  text-align: center;
}

.humidity {
  border: 2px dotted #2c061f;
  border-radius: 8px;
  padding: 7px;
  margin: 7px auto;
  text-align: center;
}

.wind {
  border: 2px dotted #2c061f;
  border-radius: 8px;
  padding: 7px;
  margin: 7px auto;
  text-align: center;
}
